.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border: 1px solid;
  padding: 8px;
}

.inputs_container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
